<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도서관 대출 서비스</title>
</head>
<body>
    <header>
        <div id="nav">
            <h2>엘리스 도서관</h2>
        </div>
        <div>
            공지사항
        </div>
        <div>
            신간도서
        </div>
        <div>
            <a href="{{ url_for('signup') }}"><div>도서관 로그인</div></a>
            <a href="{{ url_for('signin') }}">회원가입</a>
        </div>
    </header>


    <main>

    </main>

    <footer>

    </footer>
</body>
</html>