<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    
    <title>도서관 대출 서비스</title>
    <style>
        .img {
            width: 138px;
            height: 192px;
            display: block;
            margin: 0px auto;
        }
        .margin_b0 {
            margin-bottom: 0px;
        }
        .book_box {
            display: inline-block;
            width: 160px;
            height: 250px; 
            margin: 5px;
            padding-top: 7px;
            padding-bottom: 7px;

            border: 1px solid #524fa1; 
            background-color: #e2dfff;
        }
    </style>
</head>
<body>
    <header style="background-color: #ffffff;">
        <div style="margin: 0px; padding-top: 0px;" class="container-fluid">
            <nav class="navbar navbar-light border-bottom mb-4">
                <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                    <img class="d-flex align-items-cente" src="/static/image/logo.png" height="50">
                    <span class="ps-2 fs-4">엘리스 도서관</span>
                </a>
            </nav>
        </div>
    </header>
    <main>
        
        <div class="container-fluid">

            <table class="table table-hover table-bordered">
                
                <div style="background-color: #efeff6;" class="p-4 row justify-content-center" >
                    {% for b in data["books"][:4] %}
                    <div class="book_box">
                        <a style="text-decoration: none; color:black;" href="{{ url_for('book.detail', book_id=b.id) }}">
                            <img class="img border" src="{{ b.book_link }}" alt="{{ b.id }}.png">
                            <span style="color: #524fa1" class="margin_b0">{{' ★' * b.book_evaluation +' ☆' * (5 - b.book_evaluation) }}</span>
                            <span style="font-size: 11px;" class="margin_b0">({{ b.book_evaluation }}점)</span>
                            <p class="margin_b0"     style="font-size: 12px;">
                                {{ b.book_name[:10] }}
                                {% if b.book_name[10:] %}
                                ...
                                {% endif %}
                            </p>
                        </a>
                    </div>
                    {% endfor %}    
                    {% for i in range(4 - data["books"][:4]|length)%}
                    <div class="book_box">
                    </div>  
                    {% endfor %}
                </div>
                <div style="background-color: #efeff6;" class="p-5 row justify-content-center" >
                    {% for b in data["books"][4:8] %}
                    <div class="book_box">
                        <a style="text-decoration: none; color:black;" href="{{ url_for('book.detail', book_id=b.id) }}">
                            <img class="img border" src="{{ b.book_link }}" alt="{{ b.id }}.png">
                            <span style="color: #524fa1" class="margin_b0">{{' ★' * b.book_evaluation +' ☆' * (5 - b.book_evaluation) }}</span>
                            <span style="font-size: 11px;" class="margin_b0">({{ b.book_evaluation }}점)</span>
                            <p class="margin_b0" style="font-size: 12px;">
                                {{ b.book_name[:10] }}
                                {% if b.book_name[10:] %}
                                ...
                                {% endif %}
                            </p>
                        </a>
                    </div>
                    {% endfor %}
                    {% for i in range(4 - data["books"][4:8]|length)%}
                    <div class="book_box">
                    </div>
                    {% endfor %}
                </div>
            </table>

            <nav>
                <ul class="pagination justify-content-center" id="pagination">
                    <!-- 앞의 5개, 뒤의 5개 출력방법 고민 -->
                    <li class="page-item">
                        <a class="page-link" data-page="1" href="#" aria-label="Previous">
                        &laquo;
                        </a>
                    </li>
                    {% for i in range(1, data["totalPage"] + 1) %}
                    <li class="page-item"><a class="page-link" data-page="{{ i }}" href="{{ url_for('index.main', page=i) }}">{{ i }}</a></li>
                    {% endfor %}
                    <li class="page-item" id="last-page">
                        <a class="page-link" href="#" aria-label="Next">
                        &raquo;
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </main>
</body>